body {
  background: rgb(16, 17, 19);
  background: linear-gradient(
    22deg,
    rgba(16, 17, 19, 1) 0%,
    rgba(61, 68, 75, 1) 100%
  );
  color: white !important;
  animation: fadeIn 0.2;
  overflow-x: hidden;

}
.btn {
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .body__main {
  max-width: 80%;
  background-color: #383c41;
} */
