<head th:replace="layout/head :: head">
<title id="pageTitle">Detail</title>
</head>

<body>
	<div class="container body__main mh-80">
		<div th:replace="layout/header :: header">...</div>



		<div class="row">
			<aside class="col-sm" id="aside-poster"></aside>
			<article class="col-lg">

				<h1 th:text="${film.titre}" id="movie-title"
					class="text-capitalize mb-5"></h1>

				<p th:text="${film.realisateur.nom}" class="text-capitalize"></p>

				<p th:text="${film.genre.libelle}" class="text-capitalize"></p>

				<p th:text="${film.annee}"></p>

				<p th:text="${film.synopsis}" class="text-capitalize"></p>

				<p th:text="${film.duree}"></p>

				<hr>

				<h3 class="my-5">Acteurs</h3>
				<p th:each="acteur: ${film.listActeurs}"
					th:text="${acteur.nom}+${acteur.prenom}"></p>

				<hr class="my-5" />

				<h3 class="my-5">Les avis</h3>

				<div th:each="avis: ${film.avis}" class="avis">

					<p class="font-weight-bold"
						style="font-weight: bold; font-variant-caps: small-caps"
						th:text="${avis.user.username}"></p>
						
					<span class="font-italic " style="margin-left: 2rem;"
						th:text="${avis.note}"></span>
						
					<p class="font-italic " style="margin-left: 2rem;"
						th:text="${avis.comment}"></p>
						

				</div>

				<h3 class="mt-5">Laisser un avis</h3>

				<form method="post" class="" id="form" th:object=${newAvis}
					th:action="@{/avis/ajouter}">
					
					<div class="form-group">
						<label for="noteInput" class="">Note</label> <input
							class="form-control" id="noteInput" type="number"
							th:field="*{note}" />
					</div>
					
					<span class="help-block" th:if="${#fields.hasErrors('note')}"><ul>
								<li th:each="erreur: ${#fields.errors('note')}"
									th:text="${erreur}"></li>
							</ul></span>
							
							
					<div class="form-group">
						<label for="commentInput" class="">Commentaire</label>
						<textarea row="20" placeholder="Ce film de m..."
							class="form-control" id="commentInput" th:field="*{comment}" />
					</div>
					
					<span class="help-block" th:if="${#fields.hasErrors('comment')}"><ul>
								<li th:each="erreur: ${#fields.errors('comment')}"
									th:text="${erreur}"></li>
							</ul></span>
							
					<input type="hidden" th:field="${newAvis.film}"
						th:value="${film.id}"> <input
						class="btn btn-primary  w-100  mt-4" type="submit"
						value="Commenter" />
				</form>

			</article>

		</div>


		<div th:replace="layout/footer :: footer">...</div>
	</div>
	<script src="/js/detail.js" type="module"></script>
</body>
</html>