<head th:replace="layout/head :: head">
  <title id="pageTitle">Liste des films</title>
</head>

<body >
<div class="container body__main mh-80">
      <div th:replace="layout/header :: header">...</div>
      <div class="row">
        
        <div th:each="film : ${films}" class="card mx-2 my-2" style="width: 18%; background-color: transparent;" >
          <img class="film-img card-img-top" th:id="${film.titre}">
          <a th:utext="${film.titre}" class="text-capitalize card-title text-center text-decoration-none" style="" th:href="@{/film/{id}(id=${film.id})}"></a>
        </div>

     <!--   <div class="col-md-3"><h3>Titre</h3></div>
        <div class="col-md-3"><h3>Année sortie</h3></div>
        <div class="col-md-3"><h3>Réalisateur</h3></div>
        <div class="col-md-3"><h3>Acteurs</h3></div>

-->
      </div>

      <!--<div th:each="film : ${films}" class="row" >
        <a th:utext="${film.titre}" class="col-md-3 text-capitalize" th:href="@{/film/{id}(id=${film.id})}"></a>
        <div th:utext="${film.annee}" class="col-md-3"></div>
        <div th:utext="${film.realisateur.nom}" class="col-md-3 text-capitalize"></div>
        <div class="col-md-3 text-capitalize">
            <div th:each="acteur : ${film.listActeurs}">
              <p th:utext="${acteur.nom}"></p>
            </div>
        </div>
      </div>--->

     
      <div th:replace="layout/footer :: footer">...</div>
    </div>
    <script src="/js/list.js" type="module"></script>
</body>
</html>