<head th:replace="layout/head :: head">
  <title id="pageTitle">Add</title>
</head>

<body >
<div class="container body__main mh-80">
      <div th:replace="layout/header :: header">...</div>
	
        <div class="container">
            
			<div class="row">
				
				<div class="col-lg-4 col-sm-12 mx-auto">
				
				<th:block sec:authorize="isAnonymous()">
					<h2 class="text-center jumbotron my-3">Rebonjour de te revoir</h2>
				</th:block>
				
				<th:block sec:authorize="isAuthenticated()">
					<h2 class="text-center jumbotron my-3">Tu pars deja ?</h2>	
				</th:block>
				
					<img src="/img/nerd.png" class="rounded mx-auto d-block mb-2" style="width:200px; height:auto">
					
					
					<div sec:authorize="isAnonymous()"> 
					
			            <form method="post" th:action="@{/login}" class="" id="form">
			                
			                <div class="form-group">
			                    <label for="emailInput" class="" >Email</label>
			                    <input class="form-control"  name="username" id="emailInput" type="text" autofocus/>
			                </div>
			
			                <div class="form-group mt-3">
			                    <label for="passwordInput" class="" >Password</label>
			                    <input class="form-control"  name="password" id="passwordInput" type="password" />
			                </div>
	
			                <input class="btn btn-primary  w-100  my-5" type="submit" value="Valider" />
			
			            </form>
		            </div>
		            
		            
		            <div sec:authorize="isAuthenticated()"> 
		            
             			<form th:action="@{/logout}" method="post">
             				<div class="form-group">
				            	<input type="submit" class="form-control btn btn-primary" value="Bye bye !"/>
			            	</div>
			            	
			       	 	</form>
			       	 	
            		</div>


				</div>
				
	        </div>
        </div>
            
    <div th:replace="layout/footer :: footer">...</div>
</div>
</body>
</html>